<section id="about" class="first">
    <div class="container">
        <div id="content">
            <div id="desc">
                <h2>About Us</h2>
                <p>
                    Our mission is to create a seamless and accurate parking experience for Virginia Tech and for the Town of Blacksburg. We will use the data that is available to create an interactive parking map of Virginia Tech and Blacksburg. The app will begin with a small scope, and grow as our abilities improve. We have a complex problem that requires a lot of coordination, organization and communication within the team and across cross-functional disciplines. Future endeavours include: real-time parking application through sensors and camera detecting abilities. 
                </p>
                <a href="/map" target="_blank" class="btn btn-primary">View Progress</a>
            </div>
            <img class="img-responsive" src="images/app.png">
        </div>
        <h2>Our Sponsors</h2>
        <div id="sponsors">
            <a href="http://www.sec.vt.edu/" target="_blank"><img class="img-responsive" src="images/SECLogo.png"></a>
        </div>
    </div>
</section>