<section id="calendar">
    <div class="container">
        <div id="eventCalendar" class="row">
            <h2>Event Calendar</h2>
            <iframe src="https://calendar.google.com/calendar/embed?src=lapgclljgbamlbfs9tqq3vj0so%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</section>