<section id="teams">
    <div class="container">
        <h2>Teams</h2>
        <div id="list">
            <div class="ui card">
          <div class="content">
            <div class="header">Web</div>
          </div>
          <div class="content">
            Provide a streamlined parking experience through the web while exploring technologies such as JIRA, NodeJS, HTML5 and CSS3.
          </div>
          <!--<div class="extra content">-->
          <!--  <button class="ui button">Learn More</button>-->
          <!--  <button class="ui button">Interested</button>-->
          <!--</div>-->
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">Mobile</div>
          </div>
          <div class="content">
            Provide a quick access point to our application for users on the go through Android and iOS mobile apps.
          </div>
          <!--<div class="extra content">-->
          <!--  <button class="ui button">Learn More</button>-->
          <!--  <button class="ui button">Interested</button>-->
          <!--</div>-->
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">Quality Assurance</div>
          </div>
          <div class="content">
            Testing and ensuring quality.
          </div>
         <!--<div class="extra content">-->
         <!--   <button class="ui button">Learn More</button>-->
         <!--   <button class="ui button">Interested</button>-->
         <!-- </div>-->
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">GIS</div>
          </div>
          <div class="content">
            Acquire, validate, and create geographic data for the base framework. 
          </div>
          <!--<div class="extra content">-->
          <!--  <button class="ui button">Learn More</button>-->
          <!--  <button class="ui button">Interested</button>-->
          <!--</div>-->
        </div>
        </div>
    </div>
</section>